.app-wrapper {
    display: grid;
    grid-template-areas:
    'l a'
    'b b';
    grid-template-rows: 10fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.additional-information {
    grid-area: a;
    border: 5px solid black;
}

.buttons {
    grid-area: b;
    justify-self: end;
    margin: 10px 10px 10px 10px;
}